body{
  font-family: Arial, sans-serif;
}

div{
  background-color: #1f5489;
  padding: 0;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button{
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
  cursor: pointer;
  background-color: #5cb85c;
  color: white;
  border-color: #4cae4c;
}

